.bg-light-blue {
  background-color: #1da1fa50;

  min-width: 50vh;
  min-height: 100vh;
}
.bg-image-twitter {
  background-image: url("../images/Vector.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}
